#community {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("./bg_29.jpg") no-repeat center top;
  background-size: 100% auto;
  .h1s {
    margin-top: 5rem  /* 80/16 */;
    h1 {
      text-align: center;
      font-size: 3.125rem  /* 50/16 */;
      color: #FB98AD;
      font-weight: 700;
    }
    margin-bottom: 1.875rem  /* 30/16 */;
  }
  h2 {
    font-weight: 700;
    color: #b58da7;
    font-size: 1.325rem  /* 18/16 */;
    width: 62.5rem  /* 1000/16 */;
    text-align: center;
  }

  .icon-list {
      width: 50rem;
      margin-top: 4.0625rem  /* 65/16 */;
      margin-bottom: 2.5rem  /* 40/16 */;
      display: flex;
      justify-content: space-between;
      >div{
          padding: 5px;
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.8);
          box-shadow: 0 12px 10px -10px rgba(0,0,0,0.3), 0 0 8px 0 rgba(0,0,0,0.13);
          border: none;
      }
        a {
          width: 100%;
          height: 100%;
          display: inline-block;
          img {
            border-radius: 50%;
          }

      }
    }

  >h3 {
    font-family: ale, serif;
    font-style: italic;
    font-weight: 700;
    font-size: 1.5625rem  /* 25/16 */;
    color: #b58da7;
    margin-bottom: 3.125rem  /* 50/16 */;
  }
  >.list {
    margin-bottom: 8.75rem  /* 140/16 */;
    width: 50rem  /* 800/16 */;
    display: flex;
    flex-wrap: wrap;
    .item {
      margin-bottom: 1.875rem  /* 30/16 */;
      width: 4.8125rem  /* 77/16 */;
      margin-right: calc(5 * 4.8125rem  /* 77/16 */ / 4);
      &:nth-child(5n) {
        margin-right: 0;
      }
      img {
        border-radius: 50%;
        width: 100%;
        margin-bottom: 0.75rem  /* 12/16 */;
      }
      .title {
        text-align: center;
        font-weight: 700;
      }
    }
  }
  .hd {
    width: 100%;
    background: white;
    .swiper-slide {
      width: 16.875rem  /* 270/16 */;
      height: 22.25rem  /* 356/16 */;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  @media screen and (max-width: 900px) {
    background-size: 100% 100%;
    .h1s {
      > h1 {
        font-size: 10rem /* 160/16 */;
        margin-bottom: 1.875rem /* 30/16 */;
      }
    }
    >h2 {
      width: 80%;
      font-size: 4.5rem  /* 60/16 */;
    }
     .icon-list {
      width: 75%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
        >div {
          margin-bottom: 8rem;
          display: flex;
          justify-content:center;
          align-items: center;
          padding: 5px;
          width: 35rem;
          height: 35rem;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.8);
          box-shadow: 0 12px 10px -10px rgba(0,0,0,0.3), 0 0 8px 0 rgba(0,0,0,0.13);
          border: none;
          a {
           display: inline-block;
           width: 100%;
           height: 100%;
          }
          img {
            border-radius: 50%;
          }

      }
    }
    >h3 {
      width: 80%;
      text-align: center;
      font-size: 5rem  /* 80/16 */;
    }
    >.list {
      width: 90%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 3.4375rem  /* 55/16 */;
      .item {
        margin-right: 0;
        width: auto;
        .title {
          font-size: 3.75rem  /* 60/16 */;
        }
      }
    }
    .hd {
      .swiper-slide {
        width: 38.125rem  /* 337/16 */;
        height: 38.125rem  /* 337/16 */;
      }
      .swiper_img {
        width: 38.125rem;
        height: 38.125rem
      }
    }
  }
  @media screen and (max-width: 500px) {

    >.list {
      width: 90%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 3.4375rem  /* 55/16 */;
      .item {
        margin-right: 0;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
        width:12rem;
        height:auto;
        }
        .title {

          font-size: 3.75rem  /* 60/16 */;
        }
      }
    }
     .icon-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
        >div {
          margin-bottom: 8rem;
          display: flex;
          justify-content:center;
          align-items: center;
          padding: 5px;
          width: 35rem;
          height: 35rem;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.8);
          box-shadow: 0 12px 10px -10px rgba(0,0,0,0.3), 0 0 8px 0 rgba(0,0,0,0.13);
          border: none;
          a {
           display: inline-block;
           width: 100%;
           height: 100%;
          }
          img {
            border-radius: 50%;
          }

      }
    }

  }
}
