#Pink_Venom {
  height: 61.25rem  /* 980/16 */;
  position: relative;
  background-color: white;
  padding-left: 3.3125rem  /* 53/16 */;
  .background-list {
    inset: 0;
    position: absolute;
    z-index: 0;
    .left-flower, .right-flower {
      position: absolute;
      height: 48.75rem  /* 780/16 */;
      top: calc(50% - (48.75rem  /* 780/16 */ / 2));
      z-index: 1;
      &.left-flower {
        left: 0;
      }
      &.right-flower {
        right: 0;
      }
    }
    .left-box, .right-box {
      height: 55.0625rem  /* 881/16 */;
      position: absolute;
      bottom: 0;
      &.left-box {
        width: 54.1875rem  /* 867/16 */;
        left: 8.75rem  /* 140/16 */;
      }
      &.right-box {
        width: 50.75rem  /* 812/16 */;
        right: 0;
      }
    }
  }
  .list {
    display: flex;
    height: 100%;
    position: relative;
  }
  .light1, .light2 {
    position: absolute;
    pointer-events:none;
    &.light1 {
      left: 0;
      width: 60%;
    }
    &.light2 {
      right: 0;
      width: 60%;
    }
  }
  .pre, .next {
    width: 3.75rem  /* 60/16 */;
    height: 3.75rem  /* 60/16 */;
    top: calc(50% - 1.875rem  /* 30/16 */);
    position: absolute;
    z-index: 999;
    cursor: pointer;
    &.pre {
      left: 1.875rem  /* 30/16 */;
    }
    &.next {
      right: 1.875rem  /* 30/16 */;
    }
  }
  .item {
    position: relative;
    z-index: 1;
    margin-top: auto;
    height: 55.0625rem  /* 881/16 */;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    img {
      width: 44.9375rem  /* 719/16 */;
      height: auto;
    }
    .text {
      position: absolute;
      right: 2.5rem  /* 40/16 */;
      top: 2.5rem  /* 40/16 */;
      color: white;
      h1 {
        letter-spacing: 0.3125rem  /* 5/16 */;
        font-family: din, serif;
        font-size: 4.125rem  /* 66/16 */;
        line-height: 1.4;
        font-weight: 400;
      }
      h2 {
        font-family: din, serif;
        font-size: 1.125rem  /* 18/16 */;
      }
    }
    &.right {
      .text {
        text-align: right;
      }
    }
    &.left {
      .text {
        right: 0;
        h1 {
          margin-bottom: 2.5rem  /* 40/16 */;
        }
        h2 {
          &:last-child {
            margin-top: 1.25rem  /* 20/16 */;
          }
        }
      }
    }
  }
  @media screen and (max-width: 900px){
    height: 106.25rem  /* 1700/16 */;
    .background-list {
      .left-box, .right-box {
        &.left-box {
          width: calc(100% - 8.75rem);
          height: calc(100% - 6.25rem  /* 100/16 */);
          bottom: 0;
          right: 0;
          display: block;
        }
        &.right-box {
          display: none;
        }
      }
    }
    .pre, .next {
      width: 7.5rem  /* 120/16 */;
      height: 7.5rem  /* 120/16 */;
    }
    .item {
      width: 80%;
      height: auto;
      img {
        width: auto;
        height: 93.75rem  /* 1500/16 */;
        position: relative;
      }
      .text {
        h1 {
          font-size: 7.5rem  /* 120/16 */;
        }
        h2 {
          font-size: 14px;
        }
      }
      &.left {
        img {
          margin-left: auto;
        }
        .text {
          left: 10rem  /* 160/16 */;
          right: auto;
          text-align: left;
        }
      }
    }
  }
}