#Pink_Venom {
  height: 61.25rem; 
  position: relative;
  background-color: white;
  padding-left: 3.3125rem; 
  .list {
    display: flex;
    height: 100%;
    position: relative;
  }
  .pre, .next {
    width: 3.75rem;
    height: 3.75rem;
    top: calc(50% - 1.875rem);
    position: absolute;
    z-index: 999;
    cursor: pointer;
    &.pre {
      left: 1.875rem;
    }
    &.next {
      right: 1.875rem;
    }
  }
  .item {
    position: relative;
    z-index: 1;
    margin-top: auto;
    height: 55.0625rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    img {
      width: 44.9375rem;
      height: auto;
    }
    .text {
      position: absolute;
      right: 2.5rem;
      top: 2.5rem;
      color: white;
      h1 {
        letter-spacing: 0.3125rem;
        font-family: din, serif;
        font-size: 4.125rem;
        line-height: 1.4;
        font-weight: 400;
      }
      h2 {
        font-family: din, serif;
        font-size: 1.125rem;
      }
    }
    &.right {
      .text {
        text-align: right;
      }
    }
    &.left {
      .text {
        right: 0;
        h1 {
          margin-bottom: 2.5rem;
        }
        h2 {
          &:last-child {
            margin-top: 1.25rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 900px){
    height: 106.25rem;
    .background-list {
      .left-box, .right-box {
        &.left-box {
          width: calc(100% - 8.75rem);
          height: calc(100% - 6.25rem);
          bottom: 0;
          right: 0;
          display: block;
        }
        &.right-box {
          display: none;
        }
      }
    }
    .pre, .next {
      width: 7.5rem;
      height: 7.5rem;
    }
    .item {
      width: 80%;
      height: auto;
      img {
        width: auto;
        height: 93.75rem;
        position: relative;
      }
      .text {
        h1 {
          font-size: 7.5rem;
        }
        h2 {
          font-size: 14px;
        }
      }
      &.left {
        img {
          margin-left: auto;
        }
        .text {
          left: 10rem;
          right: auto;
          text-align: left;
        }
      }
    }
    .hd {
      .swiper-slide {
        width: 28.125rem  /* 337/16 */;
        height: 28.125rem  /* 337/16 */;
      }
    }
  }
}
